//
body {
    background-color: #000;
}
h1 {
    color: red;
}
h3 {
    color: red;
}
h3, p {
    display: inline-block;
}
p {
    color: white;
}
li {   
    list-style: none;
    a {
        color: white;
    }
}